# Ambiente virtuale
venv/

# Generato da setup.bat
lancia.bat


# File spazzatura Windows/bash
nul

# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]

# Cartella immagini temporanee
asset/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Claude
.claude/
